.menu-popup {
    margin: 5px;
}

.menu-display {
    background-color: rgba(117, 119, 122, 0.95);
    margin: 0em;
    padding: 0em;
    max-width: 28em;
    min-width: 22em;
    width: 24em;
    max-height: 36em;
    min-height: 30em;
    height: 32em;
}


/* MENU HEAD */

.menu-head-display {
    background-color: rgb(224, 120, 0);
    padding: 0.5em;
    width: inherit !important;
    height: 5em !important;
    display: inline-flex;
}

.menu-head-icon {
    padding: 0.65em;
    background-color: rgb(255, 166, 0);
    color: white;
    width: 3em !important;
    font-size: 1.3em;
    margin-right: 0.5em;
}

.menu-head-add-display {
    background-color: rgb(224, 120, 0);
    padding: 0.25em;
    width: 16em;
}

.menu-head-add-input {
    height: 1.8em;
    width: 14em;
    padding: 0.1em;
    border-radius: 0.2em;
}

.menu-head-add-buttons {
    margin: 0.1em;
}

.menu-head-button-add {
    background-color: rgb(9, 156, 9);
    color: rgb(11, 119, 11);
}

.menu-head-button-test {
    background-color: rgba(251, 255, 0, 0.986);
    color: rgb(151, 165, 24);
}

button {
    border: 0px;
    border-radius: 0.2em;
    margin: 0.35em;
    padding: 0.25em 0.8em;
}


/* MENU BODY */

.menu-body-display {
    background-color: rgb(173, 128, 76);
    width: inherit;
    height: inherit !important;
    display: inline-flex;
}

.menu-content-display {
    width: inherit;
}

html,
body {
    margin: 0em;
    padding: 0em;
    font-family: 'Roboto', sans-serif;
    border: 0px;
}

ul {
    list-style: none;
    margin: 0em;
    padding: 0em;
    width: inherit !important;
}

li {
    border-bottom: 1px solid black;
}

.span-option {
    display: block;
    width: inherit;
    visibility: hidden;
    opacity: 0;
    transition: visibiltiy 0s linear 300ms, opacity 2s, height 1s, padding 1s;
    height: 0;
}

li:hover>.span-option {
    width: inherit;
    padding-top: 0.5em;
    transition: visiblity 0s linear 0s, opacity 2s, height 1s, padding 1s;
    opacity: 1;
    visibility: visible;
    height: inherit;
    background-color: rgb(97, 75, 49);
}

.span-option>button {
    margin-left: 1em;
}

.switch-label {
    font-size: 20px;
    margin-left: 1em;
}

label {
    margin: 0;
}